<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Contacts</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../static/assets/css/main.css">
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="" contenteditable="false">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Uzair Tahamid Siam</h1>
						<p>Student •&nbsp; Aspiring Developer&nbsp;</p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/_usiam" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/uzairtahamid.siam.7" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
								<li><a href="https://usiam.github.io/" class="icon brands fa-dribbble" target="_blank"><span class="label">Website</span></a></li>
								<li><a href="https://github.com/usiam" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
								<li><a href="mailto:usiam@u.rochester.edu" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">© Uzair Tahamid Siam. Design: <a href="http://html5up.net/">HTML5 UP</a>.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	
</body></html>